Library/
ProjectSettings/
Temp/
react.sln
react.userprefs
Assembly-CSharp.csproj
React1.sln
React1.v12.suo
Assets/Textures/FF4D00-0.0.png
Assets/Textures/FF4D00-0.0.png.meta
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
